@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
body{
  background-image: linear-gradient(315deg, #2a532e 0%, #000 65%);
  font-family: 'Lato', sans-serif;
}